.app-div-container{
width: 100%;
height: 100%;
background-color: rgb(234, 234, 242)
}

.header{
margin: 10px 0px 0px 0px;
padding: 20px 0px 0px 0px
}

.dropdown-container{
height: 70vh;
border-radius: 10px
backgroundColor: white;
}

.dropdown{
width: 90%;
margin: 10px 20px 20px 20px;
font-size: 2vi
}


.dropdown-filter-label{
margin-top: 20px;
margin-left: 20px
}

.dropdown-label{
font-size: 4vi;
margin-left: 20px
}

.tabs-container{
height: 70vh;
/*background-color: white*/
}

.tabs{
margin: 20px 20px 10px 20px;
}

.bar-chart-v{
margin: 10px 20px 10px 20px;
height: 50vh;
background-color: white
}

.int-bar-chart{
margin: 10px 20px 20px 20px;
height: 55vh;
background-color: white
}

.strain-dropdown-label{
font-size: 4vi;
margin-left: 20px;
margin-top: 30px;
}

.strains-graph{
margin: 20px 40px 10px 40px;
vertical-align: middle;
/*width: 35vw;*/
height: 55vh;
background-color: white
}


.map{
height: 64vh
}

.int-map-slider{
margin-top: 20px;
margin-left: 20px;
margin-bottom: 50px;
width: 95%;
background-color: white;

}

.map-container{
height: 70vh;
}

.bar-chart-h{
height: 70vh;
}